@inherits Umbraco.Web.Mvc.UmbracoViewPage<HPNC_Website.Models.LoginModel>
@using Umbraco.Web

@if (!Umbraco.MemberIsLoggedOn())
{
    using (Html.BeginUmbracoForm("SubmitLogin", "Member", System.Web.Mvc.FormMethod.Post, new { id = "login" }))
    {
        @Html.AntiForgeryToken()
        <div class="row">
            @Html.LabelFor(m => m.Username)
            @Html.TextBoxFor(m => m.Username, new { placeholder = "Username" })
        </div>
        <div class="row">
            @Html.LabelFor(m => m.Password)
            @Html.PasswordFor(m => m.Password, new { placeholder = "Password" })
        </div>
        <br />
        <div class="row">
            @Html.ValidationSummary()
        </div>
        <button name="login" type="submit">Login</button>
        }
    }

    else
    {
        Html.RenderAction("RenderLogout", "Member");
    }
