@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using HPNC_Website.Models;

@{
    Layout = "WebBase.cshtml";
}


<body>
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        @if (Convert.ToBoolean(TempData["DonationSuccessful"]))
        {
            <div class="row">
                @Umbraco.Field("confirmationMessage")
            </div>
            <div class="row" style="text-align: center">
                <img src="@customURLHelper.UmbracoFile(Umbraco.Media(CurrentPage.confirmationPhoto).Url)" class="circular-image" style="max-width: 50%; max-height: 50%" />
            </div>
        }
        else
        {

            <div class="row">
                <div class="col-sm-3">
                    <img src="@customURLHelper.UmbracoFile(Umbraco.Media(CurrentPage.donateImage).Url)" class="circular-image" style="max-height: 250px; max-width: 100%"/>
                </div>
                <div class="col-sm-9">
                    @Umbraco.Field("appealLanguage")
                    @if (Convert.ToBoolean(TempData["DonationError"]))
                    {
                        <div class="donation-error">
                            @Umbraco.Field("donationErrorMessage")
                        </div>
                    }
                </div>
            </div>

            

            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    @{Html.RenderAction("RenderDonationForm", "DonationFormSurface");}
                </div>
            </div>
            <div class="donation-legal">
                @Umbraco.Field("legalDonationLanguage")
            </div>
            <br />
        }
        </div>


</body>