@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Models;
@using Archetype.Extensions;

@{
    Layout = "WebBase.cshtml";
}

<div class="container">
    @foreach (var fieldset in Model.Content.GetPropertyValue<ArchetypeModel>("featuredContent"))
    {
        var imageId = @fieldset.GetValue("image");
        var image = Umbraco.Media(imageId);
        var linkId = @fieldset.GetValue("page");
        var link = Umbraco.Content(linkId);


        <div class="col-lg-6">
            <figure>
                <img src="@image.umbracoFile" alt="img01" class="home-featured-content" />
                <figcaption class="home-title">
                    <h2><a href="@link.Url" title="" class="home-title">@fieldset.GetValue("name")</a></h2>
                </figcaption>
            </figure>
        </div>
    }
</div>