@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Models;
@using HPNC_Website.Models;

@{
	Layout = "WebBase.cshtml";
}

<div id="@Umbraco.Field("pageId")" class="container">

    @Umbraco.Field("featuredContent")

    <div class="row">
        @foreach (var fieldset in Model.Content.GetPropertyValue<ArchetypeModel>("imageSets"))
        {
            var imageSrc = customURLHelper.UmbracoFile(Umbraco.Media(@fieldset.GetValue("image")).umbracoFile.ToString());

            <div class="col-lg-6">
                <div class="row inner-row">
                    <div style="vertical-align:middle" class="col-sm-3">
                        <img src="@imageSrc" class="bio-image circular-image" />
                    </div>
                    <div class="col-sm-9">
                        <h2 style="color: #337ab7">@fieldset.GetValue("name")</h2>
                        <i>@fieldset.GetValue("position")</i>
                        <p class="bio-description">@fieldset.GetValue("description")</p>
                    </div>
                </div>
            </div>
        }
    </div>
 
</div>