@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Archetype.Models;
@using HPNC_Website.Models;
@using Archetype.Extensions;
@using System.Configuration;

@{
    Layout = "WebBase.cshtml";
    

}


<div class="container">
    <div class="row">
        @foreach (var fieldset in Model.Content.GetPropertyValue<ArchetypeModel>("staffMembers"))
        {

            var imageSrc = customURLHelper.UmbracoFile(Umbraco.Media(@fieldset.GetValue("image")).umbracoFile.ToString());

            <div class="col-lg-6">
                <div class="row">
                    <div style="vertical-align:middle" class="col-sm-3">
                        <img src="@imageSrc" class="bio-image circular-image" />
                    </div>
                    <div class="col-sm-9" >
                        <h2 ><a href="mailto:@fieldset.GetValue("emailAddress")" title="" class="">@fieldset.GetValue("name")</a></h2>
                        <i>@fieldset.GetValue("position")</i>
                        <p class="bio-description">@fieldset.GetValue("description")</p>
                    </div>
                </div>
            </div>
        }
    </div>
</div>